<div class="bottom-nav">
  <div class="nav-icon">
    <span class="text-center">
      <a href="/">
        <%= image_tag "home.svg" %><br>
        <span class="nav-link">Home</span>
      </a>
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <a href="/page/progress">
        <%= image_tag "progress.svg" %><br>
        <span class="nav-link">Progress</span>
      </a>
    </span>

  </div>
  <div class="nav-icon">
    <span class="text-center">
      <a href="/page/rewards">
        <%= image_tag "rewards.svg" %><br>
        <span class="nav-link">Reward</span>
      </a>
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <a href="/page/board">
        <%= image_tag("rank.svg", :id => "rank") %><br>
        <span class="nav-link">Rank</span>
      </a>
    </span>
  </div>
</div>
