<div class="bottom-nav">
  <div class="nav-icon">
    <span>
      <%= image_tag "home.svg" %>
    </span>
  </div>
  <div class="nav-icon">
    <span>
      <%= image_tag "progress.svg" %>
    </span>
  </div>
  <div class="nav-icon">
    <span>
      <%= image_tag "rewards.svg" %>
    </span>
  </div>
  <div class="nav-icon">
    <span>
      <%= image_tag("rank.svg", :id => "rank") %>
    </span>
  </div>
</div>
