<div class="bottom-nav">
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "home.svg" %> <br>
      <span>Home</span>
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "progress.svg" %>
      <span>Progress</span>
    </span>

  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "rewards.svg" %>
      <span>Reward</span>
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag("rank.svg", :id => "rank") %>
      <span>Rank</span>
    </span>
  </div>
</div>
