<div class="bottom-nav">
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "home.svg" %> <br>
      Home
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "progress.svg" %>
      Progress
    </span>

  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag "rewards.svg" %>
      Reward
    </span>
  </div>
  <div class="nav-icon">
    <span class="text-center">
      <%= image_tag("rank.svg", :id => "rank") %>
      Rank
    </span>
  </div>
</div>
