
<div class="top-nav">
  <div class="back flex-center">
    <a href="/page/progress"><%= image_tag "leftarrow.svg", height: '10px' %></a>
  </div>
  <div class="heading text-center">
    <span class="white-text thin-text"><%= title %></span>
  </div>
  <div class="back"></div>
</div>
