<div class="top-nav white-nav">
  <div class="back flex-center">
    <a href="javascript:history.back()"><%= image_tag "orangeleftarrow.svg", height: '10px' %></a>
  </div>
  <div class="heading text-center">
    <span class="thin-text"><%= title %></span>
  </div>
  <div class="back"></div>
</div>
