<div class="full-white-bg">
  <%= render 'components/white_topnav', title: "CARWASH VOUCHERS"%>
  <div class="text-center">
    <span class="large-text">SCAN AT COUNTER</span><br><br>
    <%= image_tag "qrcode.svg"%>
  </div>
</div>
