<div class="full-white-bg">
  <%= render 'components/white_topnav', title: "CARWASH VOUCHERS"%>
  <div class="text-center">
    <span class="large-text">SCAN AT COUNTER</span><br><br>
    <%= image_tag "qrcode.svg"%>
  </div>
  <br>
  <div class="continue-button text-center">
    <%= link_to "USE VOUCHER".html_safe, root_path, :class=>"btn orange-button btn-round-lg btn-lg continue"%>
  </div>
  <br>
</div>
