<div>
  <div class="title text-center">
    <h1 class="white" id="start-title">ViBit</h1>
  </div>

  <div class="subtitle text-center">
    <h5 class="white">SHAPING TOMORROW'S DRIVERS</h5>
  </div>

  <div class="flex-center wheel-image">
    <%= image_tag "connect.svg" %>
  </div>

  <div class="start-button end-button text-center">
    <%= link_to "Connect to ViBit".html_safe, root_path, :class=>"white btn btn-primary btn-round-lg white-background btn-lg start"%>
  </div>

</div>
