<div>
  <div class="title text-center">
    <h1 class="white" id="start-title">ViBit</h1>
  </div>

  <div class="subtitle text-center">
    <h5 class="white">SHAPING TOMORROW'S DRIVERS</h5>
  </div>

  <div class="flex-center wheel-image">
    <%= image_tag "wheel.svg" %>
  </div>

  <div class="start-button text-center">
    <%= link_to "START TRIP".html_safe, page_trip_progress_path, :class=>"white btn btn-primary btn-round-lg white-background btn-lg start"%>
  </div>

  <div class="switch-account text-center">
    <%= link_to "Switch Accounts", new_user_session_path %>
  </div>
</div>
