<div>
  <div class="title text-center">
    <h1 class="white" id="start-title">ViBit</h1>
  </div>

  <div class="subtitle text-center">
    <h5 class="white">SHAPING TOMORROW'S DRIVERS</h5>
  </div>

  <div class="owl-carousel end-button">
    <div>
      <div class="flex-center wheel-image">
        <%= image_tag "route.svg" %>
      </div>
      <div class="white text-center">
        <h3>Keep track of your driving</h3>
        <h6>Speed limits, Road Signs, Traffic Lights</h6>
      </div>
    </div>

    <div>
      <div class="flex-center wheel-image">
        <%= image_tag "reward_phone.svg" %>
      </div>
      <div class="white text-center">
        <h3>Why track?</h3>
        <h6>Earn rewards, keep safe and save money</h6>
      </div>
    </div>

    <div>
      <div class="flex-center wheel-image">
        <%= image_tag "wheel.svg" %>
      </div>
      <div class="start-button text-center">
        <%= link_to "Let's Get Started".html_safe, new_user_session_path, :class=>"white btn btn-primary btn-round-lg white-button btn-lg start"%>
      </div>

    </div>


</div>

</div>

<script>
  $(".owl-carousel").owlCarousel({
    autoWidth:false,
  });
</script>
