<%= render 'components/topnav', title: "REWARDS INFORMATION"%>
<div class="how-it-works-container thin-text">
  <span class="white-text">HOW IT WORKS</span><br><br>
  <div class="white-box">
    Your driving feedback will determine what rewards you get at the end of the period!<br><br>
    Excellent behavious will earn you a Fuel Voucher. Good behaviour will earn you a carwash voucher.
  </div><br>
  <span class="white-text">WHAT THE SYMBOLS MEAN</span><br><br>
  <div class="white-box">
    Excellent - 0 mistakes made<br><br>
    Good - some mistakes made<br><br>
    Needs improvements - lots of mistakes made
  </div>
</div>
