/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,700');

html body {
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 1.5em;
}

.background{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FB6900,#F63700); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FB6900, #F63700); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FB6900, #F63700); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FB6900, #F63700); /* Standard syntax */
}

.dark-grey-bg{
  background-color: #333333;
  color: white;
  height: 100%;
}

.white-bg{
  background-color: white;
}

.chart-padding{
  padding: 30px;
}

.box-padding{
  padding: 15px;
}

.white-text{
  color: white;
}

.thin-text{
  font-weight: 300;
}

.sub-title{
  font-size: 2em;
}

.mini-title{
  font-size: 1.5em;
  font-weight: 300;
}

.big-text{
  color: #333333;
  font-size: 4em;
  font-weight: bold;
}
