#start-title{
  margin-top: 0 !important;
}

.white{
  color: white
}

.wheel-image img{
  width: 60%;
  height: auto;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-round-lg{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: none !important;
  border-radius: 5em !important;
}
