.bottom-nav{
  bottom: 0;
  padding-bottom: 0.2em;
  background: white;
  position: fixed;
  width: 100%;
  display: flex;
  .nav-icon{
    width: 25%;
    display: flex;
    justify-content: center;
    span{
      margin: 0 auto;
      img{
        height: 3em;
        width: 3em;
      }
      img path{
        background-color: #000;
      }
    }
  }
}
