.bottom-nav{
  bottom: 0;
  background: white;
  position: fixed;
  width: 100%;
  display: flex;
  .nav-icon{
    width: 25%;
    display: flex;
    justify-content: center;
    span{
      margin: 0 auto;
      img{
        height: 2.5em;
        width: 2.5em;
      }
      img path{
        background-color: #000;
      }
    }
  }
}

.nav-link{
  color: #333333;
}
