

.rank-container{
  padding: 15px;
  .white-box{
    width: 50%;
    float:left;
    background-color: #FDE1D2;
    padding: 20px;
  }
  .orange-box{
    width: 50%;
    background-color: #FA8747;
    float:right;
    padding: 20px;
    color: white;
  }
}

.rank-box{
  margin-top: 40px;
  padding: 5px 10px;
  padding-top: 30px;
  background-color: #FDE1D2;
}

.individual-box{
  margin: 10px 5px;
  background-color: #FB6900;
  color: white;
  .padding{
    padding: 10px;
  }
}
