#reward-title{
  margin-top: 0 !important;
}

.earn-reward{
  width: 70%;
  border: none !important;
  border-radius: 5em !important;
}

.prize{
  width: 100%;
  border: none !important;
  border-radius: 5em !important;
}

.prize-reward a{
   white-space: pre-line;
}

.reward-info{
  padding-bottom: 1em;
}

.evaluation .review{
  margin: 3em 0;
}

.review{
  height: 100%
}

.review p {
  margin: auto 0 !important;
}

.less-bottom-padding{
  padding-bottom: 20vh;
}

.face img{
  width: 90%;
  height: auto;
}
