.top-nav{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  .back{
    flex-grow: 1
  }
  .heading{
    flex-grow: 3
  }
}

.white-nav{
  background-color: white;
  color: #F63700;
}

.top-nav-with-info{
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  .back{
    flex-grow: 1
  }
  .heading{
    flex-grow: 3
  }
}
