.white-background{
  background-color: white;
}

.orange-button{
  background-color: rgba(254,79,0, 0.3) !important;
}

.orange{
  color: #FB6530 ;
}

.continue{
  color:black
}

.continue-button{
  padding-top: 2em;
}

.violation{
  margin: 1em 1em;
}

.button-padding{
  padding-bottom: 1.5em;
}

.violation img{
  height: 3em;
  width: auto
}

.driving-review img{
  width: 35%;
  height: auto
}
